@import url('https://fonts.googleapis.com/css2?family=Murecho:wght@100..900&display=swap');

body {
  background-color: #c3f1fe38;
}

.header-bg-fix {
  background-color: #f5f5ea;
}

/* .animated-gradient-background {
  background: linear-gradient(116deg, #13a8fa, #378ad5b0, #3fcdfb, #23d5abde);
  background-size: 400% 400%;
  animation: gradient 10s ease-out infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */
.animated-gradient-background {
  background: linear-gradient(116deg, #ff7e5f, #14abfa, #86a8e7, #91eae4);
  background-size: 400% 400%;
  animation: gradient 10s ease-out infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bed-icon {
  position: absolute;
  z-index: 2;
  top: 8px;
  font-size: 22px;
  right: 12px;
  opacity: 0.3;
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
button,
span,
input,
textarea,
a,
.ant-btn {
  font-family: 'Murecho', sans-serif;
}

:where(.css-dev-only-do-not-override-kghr11).ant-picker .ant-picker-suffix {
  font-size: 20px;
}

.p3selc .ant-select-arrow {
  display: none;
}

.handleGoogleLogin {
  cursor: pointer;
}

.toggle-btn-child-adult {
  background: #ffffff !important;
  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9;
}

.card-slider {
  position: relative;
}

.offers-container {
  margin: 20px auto;
}

.offers-heading {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

button.item_tab_btn {
  border-radius: 20px;
  padding: 6px 12px;
  font-size: 18px;
  border: 2px solid #007bff;
  color: #007bff;
  background: #f6f6f6;
}

.item_tab_btn:hover {
  background-color: #e0e0e0;
}

.item_tab_btn.active {
  background-color: #007bff;
  color: white;
  border: 2px solid #ebe5ff;
}

.ant-picker-panels {
  display: flex;
  flex-wrap: wrap !important;
  justify-content: center;
}

/* .search_banner_container {
  background-image: url(/src/assets/images/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
} */

.banner_img_p {
  position: absolute;
  right: -26px;
  z-index: -1;
  border-radius: 48px;
  height: 397px;
}
.search_card {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 24, 51);
  border-radius: 36px 0 0px 36px;
  box-shadow: rgba(0, 0, 0, 0.03) 0px -1px 0px 0px,
    rgba(0, 0, 0, 0.16) 0px 2px 8px 0px, rgba(0, 0, 0, 0.16) 0px 10px 8px -5px,
    rgba(0, 0, 0, 0.16) 0px 12px 32px -2px;
  min-height: 397px;
  height: auto;
}

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding: 20px; /* Add some padding for spacing */
}
/* -------------------------------------------------- */
/* @media (max-width: 768px) { */

@media (max-width: 768px) {
  .banner_img_p {
    display: none;
  }
  button.item_tab_btn {
    border-radius: 17px;
    padding: 8px 11px;
    font-size: 13px;
    border: 2px solid #007bff;
  }
}
